<div id = "nav">
	<div class="sidenav">
		<a href = "https://replit.com/@<%- user %>" target = "_blank" class = "links" style = "color:var(--color)"><img src = "<%- profile %>" style = "width:30px; border-radius:50%; vertical-align:middle;">&nbsp;@<%- user %></a>
		<a href = "https://replit.com/new"><button style = "text-align:center"><i class="fa-solid fa-plus"></i> Create</button></a>
		<br>
		<a href = "/" class = "links" id = "Home"><i class="fa-solid fa-house"></i> Home</a>
  	    <a href = "/search" class = "links" id = "Search"><i class="fa-solid fa-magnifying-glass"></i> Search</a>
  	    <a href = "/repls" class = "links" id = "Repls"><i class="fa-regular fa-folder"></i> Repls</a>
  	    <a href = "/community" class = "links" id = "Community"><i class="fa-solid fa-globe"></i> Community</a>
	</div>
</div>